form{
  text-align: center;
  border: 3px solid blue;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  position: relative;
  margin: auto;
  margin-top: 60px;
  background-image:  linear-gradient(90deg, aqua, violet);
}
p{
  font-size: 18px;
  font-family: cursive;
}
#input{
  width: 40%;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
#submit{
  width: 20%;
  height: 50px;
  border-radius: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
}
